<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: header">



<body>
<div th:replace="base :: navlinks" />
<main role="main" class="container">
    <div class="jumbotron">
        <h5>Your course</h5>
        <table class="table table-bordered table-dark">
            <thead>
            <tr>
                <th scope="col">Course</th>
                <th scope="col">Details</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">Course Title</th>
                <td>Java Web Bootcamp</td>
            </tr>
            <tr>
                <th scope="row">Course ID</th>
                <td>2354</td>
            </tr>
            <tr>
                <th scope="row">Department ID</th>
                <td colspan="2">CS</td>
            </tr>
            <tr>
                <th scope="row">Availability</th>
                <td>Available</td>
            </tr>
            <tr>
                <th scope="row">Instructor</th>
                <td>Ms. Jenn</td>

            </tr>
            <tr>
                <th scope="row" > Description</th>
                <td><p>The Java Web Developer Boot Camp is an 8 hour a day (9 am - 5 pm, M-F) 8-week,
                    immersive software engineering program funded by the Department of Labor.
                    This course aims to increase the number of skilled software developers in this country.
                    We do this by accepting qualified candidates who cannot afford the cost of a coding boot camp.
                    If accepted into the program all fees will be covered by the program.</p>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</main>

<div th:replace="base :: footer" />
<div th:replace="base :: scripts" />

</body>
</html>