<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: header" />
<body>
<div th:replace="base :: navlinks" />
<main role="main" class="container">
    <div class="jumbotron">
        <h1 class="display-1 text-center">Student Profile</h1>
<!--        <h6 class="lead">Here you will find a list of courses and a student profile.</h6>-->
    </div>
</main>
<div th:replace="base :: footer" />
<div th:replace="base :: scripts" />

</body>
</html>

The student page should have:

a list of enrolled classes for three semesters, including the current semester
a transcript
courses taken
grades
and their overall GPA